{% extends '../../../base.html.twig' %}

{% block title %}Erreur !!{% endblock %}

{% block body %}
    <div class="error-page">
        <h1>Petite erreur...</h1>
        <p>On s'en occupe !</p>
        <a href="{{ path('app_home') }}">Retour à l'accueil</a>
    </div>
{% endblock %}
